Source: nuauth
Section: net
Priority: optional
Maintainer: Vincent Deffontaines <vincent@gryzor.com>
Build-Depends: debhelper (>= 4.0.0), libglib2.0-dev (>=2.2.3), libldap2-dev (>=2.1.23), libgdbm-dev (>=1.8.3)
Standards-Version: 3.6.0

Package: nuauth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-0 (>=2.2.3), libldap2 (>=2.1.23), libgdbm3 (>=1.8.3)
Description: Nuauth is the authentication daemon from the nufw package
  Nuauth lays on a user database, and an ACL system (which can reside in an LDAP
  directory, or XML/DBM solutions, etc.
  Nuauth receives requests from nufw, and auth packets from users' clients, and
  sends decision to the nufw daemon.
