Source: nuauth-utils
Section: net
Priority: optional
Maintainer: Vincent Deffontaines <vincent@gryzor.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: nuauth-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Set of tools useful to nuauth admin
  nuaclgen is a perl script that helps generate LDAP ACLs for use with nuauth
