#!/bin/sh

set -e

. /usr/share/debconf/confmodule

CONFIGFILE1=/etc/default/nuauth20
CONFIGFILE2=/etc/nufw20/nuauth.conf

#Read configuration file if it exist
if [ -e $CONFIGFILE1 ]; then
  #Load configuration
  . $CONFIGFILE1 || true
  db_set nuauth20/start_at_boot $NUAUTH_START
  db_set nuauth20/verbosity $NUAUTH_VERBOSITY
fi

if [ -e $CONFIGFILE2 ]; then
  . $CONFIGFILE2 || true
  db_set nuauth20/client_listen_addr $nuauth_client_listen_addr
  db_set nuauth20/nufw_listen_addr $nuauth_nufw_listen_addr
  db_set nuauth20/gw_packet_port $nuauth_gw_packet_port
  db_set nuauth20/user_packet_port $nuauth_user_packet_port
  db_set nuauth20/nufw_gw_address $nufw_gw_addr
  db_set nuauth20/prio $nuauth_prio
  db_set nuauth20/packet_timeout $nuauth_packet_timeout
  db_set nuauth20/number_usercheckers $nuauth_number_usercheckers
  db_set nuauth20/number_aclcheckers $nuauth_number_aclcheckers
  db_set nuauth20/user_check_module $nuauth_user_check_module
  db_set nuauth20/acl_check_module $nuauth_acl_check_module
  db_set nuauth20/tls_key $nuauth_tls_key
  db_set nuauth20/tls_key_passwd $nuauth_tls_key_passwd
  db_set nuauth20/tls_cert $nuauth_tls_cert
  db_set nuauth20/log_users $nuauth_log_users
  db_set nuauth20/log_users_sync $nuauth_log_users_sync
  db_set nuauth20/log_users_strict $nuauth_log_users_strict
  db_set nuauth20/user_logs_module $nuauth_user_logs_module
  db_set nuauth20/plaintext_userfile $plaintext_userfile
  db_set nuauth20/plaintext_aclfile $plaintext_aclfile
  db_set nuauth20/ldap_server_addr $ldap_server_addr
  db_set nuauth20/ldap_server_port $ldap_server_port
  db_set nuauth20/ldap_bind_dn $ldap_bind_dn
  db_set nuauth20/ldap_bind_password $ldap_bind_password
  db_set nuauth20/ldap_request_timeout $ldap_request_timeout
  db_set nuauth20/ldap_basedn $ldap_basedn
  db_set nuauth20/ldap_acls_base_dn $ldap_acls_base_dn
  db_set nuauth20/ldap_users_base_dn $ldap_users_base_dn
  db_set nuauth20/prio_to_nok $nuauth_prio_to_nok
  db_set nuauth20/mysql_server_addr $mysql_server_addr
  db_set nuauth20/mysql_server_port $mysql_server_port
  db_set nuauth20/mysql_db_name $mysql_db_name
  db_set nuauth20/mysql_table_name $mysql_table_name
  db_set nuauth20/mysql_user $mysql_user
  db_set nuauth20/mysql_passwd $mysql_passwd
  db_set nuauth20/mysql_request_timeout $mysql_request_timeout
  db_set nuauth20/mysql_use_ssl $mysql_use_ssl
  db_set nuauth20/mysql_ssl_keyfile $mysql_ssl_keyfile
  db_set nuauth20/mysql_ssl_certfile $mysql_ssl_certfile
  db_set nuauth20/mysql_ssl_ca $mysql_ssl_ca
  db_set nuauth20/mysql_ssl_capath $mysql_ssl_capath
  db_set nuauth20/mysql_ssl_cypher $mysql_ssl_cypher
  db_set nuauth20/pgsql_server_addr $pgsql_server_addr
  db_set nuauth20/pgsql_server_port $pgsql_server_port
  db_set nuauth20/pgsql_db_name $pgsql_db_name
  db_set nuauth20/pgsql_table_name $pgsql_table_name
  db_set nuauth20/pgsql_user $pgsql_user
  db_set nuauth20/pgsql_passwd $pgsql_passwd
  db_set nuauth20/pgsql_request_timeout $pgsql_request_timeout
  db_set nuauth20/pgsql_ssl $pgsql_ssl
  db_set nuauth20/pgsql_users_table_name $pgsql_users_table_name
  db_set nuauth20/nufw_has_conntrack $nufw_has_conntrack
  db_set nuauth20/nufw_has_fixed_timeout $nufw_has_fixed_timeout
  db_set nuauth20/nuauth_debug_level $nuauth_debug_level
  db_set nuauth20/nuauth_reject_after_timeout $nuauth_reject_after_timeout
  db_set nuauth20/nuauth_reject_authenticated_drop $nuauth_reject_authenticated_drop
  db_set nuauth20/nuauth_hello_authentication $nuauth_hello_authentication
  db_set nuauth20/nuauth_number_session_loggers $nuauth_number_session_loggers
  db_set nuauth20/nuauth_user_session_logs_module $nuauth_user_session_logs_module
  db_set nuauth20/system_convert_username_to_uppercase $system_convert_username_to_uppercase
  db_set nuauth20/ldap_acls_timerange_base_dn $ldap_acls_timerange_base_dn
  db_set nuauth20/mysql_users_table_name $mysql_users_table_name
  db_set nuauth20/pgsql_users_table_name $pgsql_users_table_name
fi

#Ask questions
db_beginblock
db_input high nuauth20/start_at_boot || true
db_input medium nuauth20/nufw_has_conntrack || true
db_input medium nuauth20/nufw_has_fixed_timeout || true
db_input low nuauth20/nuauth_debug_level || true
db_input medium nuauth20/nuauth_reject_after_timeout || true
db_input medium nuauth20/nuauth_reject_authenticated_drop || true
db_input low nuauth20/nuauth_hello_authentication || true
db_input medium nuauth20/verbosity || true
db_input high nuauth20/client_listen_addr || true
db_input high nuauth20/nufw_listen_addr || true
db_input medium nuauth20/gw_packet_port || true
db_input medium nuauth20/user_packet_port || true
db_input high nuauth20/nufw_gw_address || true
db_input low nuauth20/prio || true
db_input high nuauth20/prio_to_nok || true
db_input low nuauth20/packet_timeout || true
db_input low nuauth20/number_usercheckers || true
db_input low nuauth20/number_aclcheckers || true
db_input medium nuauth20/log_users || true
db_endblock
db_go
db_get nuauth20/log_users
tmp_log_users="$RET"
if [ "$tmp_log_users" -gt 0 ]; then
  db_beginblock
  db_input medium nuauth20/nuauth_log_users_sync || true
  db_input medium nuauth20/nuauth_log_users_strict || true
  db_input medium nuauth20/user_logs_module || true
  db_input low nuauth20/nuauth_number_session_loggers || true
  db_endblock
  db_go
  db_get nuauth20/user_logs_module
  tmp_user_logs_module="$RET"
  if [ "$tmp_user_logs_module" = mysql ]; then
    db_beginblock
    db_input high nuauth20/mysql_server_addr || true
    db_input low nuauth20/mysql_server_port  || true
    db_input high nuauth20/mysql_db_name || true
    db_input high nuauth20/mysql_table_name || true
    db_input high nuauth20/mysql_user || true
    db_input high nuauth20/mysql_passwd || true
    db_input low  nuauth20/mysql_request_timeout || true
    db_input medium  nuauth20/mysql_use_ssl || true
    db_endblock
    db_go 
    db_get nuauth20/mysql_use_ssl
    tmp_mysql_use_ssl="$RET"
    if [ "$tmp_mysql_use_ssl" = 1 ]; then
      db_beginblock
      db_input medium nuauth20/mysql_ssl_keyfile || true
      db_input medium nuauth20/mysql_ssl_certfile || true
      db_input medium nuauth20/mysql_ssl_ca || true
      db_input medium nuauth20/mysql_ssl_capath || true 
      db_input medium nuauth20/mysql_ssl_cypher || true 
      db_endblock
    fi


  elif [ "$tmp_user_logs_module" = pgsql ]; then
    db_beginblock
    db_input high nuauth20/pgsql_server_addr || true
    db_input low nuauth20/pgsql_server_port  || true
    db_input high nuauth20/pgsql_db_name || true
    db_input high nuauth20/pgsql_table_name || true
    db_input high nuauth20/pgsql_user || true
    db_input high nuauth20/pgsql_passwd || true
    db_input low  nuauth20/pgsql_request_timeout || true
    db_input medium nuauth20/pgsql_users_table_name || true
    db_input medium nuauth20/pgsql_ssl || true
    db_endblock
  fi
  db_beginblock
  db_input low nuauth20/nuauth_user_session_logs_module || true
  db_endblock
  db_go
  db_get nuauth20/nuauth_user_session_logs_module
  tmp_nuauth_user_session_logs_module="$RET"
  if [ "$tmp_nuauth_user_session_logs_module" = mysql ]; then
    db_beginblock
    db_input low nuauth20/mysql_users_table_name || true
    dn_endblock
  elif [ "$tmp_nuauth_user_session_logs_module" = pgsql ]; then
    db_beginblock
    db_input low nuauth20/pgsql_users_table_name || true
    dn_endblock
  fi
fi

db_beginblock
db_input low nuauth20/system_convert_username_to_uppercase || true
db_input high nuauth20/user_check_module || true
db_input high nuauth20/acl_check_module || true
db_endblock
db_go

db_get nuauth20/acl_check_module
tmp_acl_check_module="$RET"
db_get nuauth20/user_check_module
tmp_user_check_module="$RET"

if [ "$tmp_user_check_module" = plaintext ]; then
  db_beginblock
  db_input high nuauth20/plaintext_userfile || true
  db_endblock
fi

if [ "$tmp_acl_check_module" = plaintext ]; then
  db_beginblock
  db_input high nuauth20/plaintext_aclfile || true
  db_endblock
fi

if [ "$tmp_user_check_module" = libldap ] || [ "$tmp_acl_check_module" = libldap ]; then
  db_beginblock
  db_input high nuauth20/ldap_server_addr || true
  db_input high nuauth20/ldap_server_port || true
  db_input high nuauth20/ldap_bind_dn || true
  db_input high nuauth20/ldap_bind_password || true
  db_input high nuauth20/ldap_request_timeout || true
  db_input high nuauth20/ldap_basedn || true
  db_input medium nuauth20/ldap_acls_timerange_base_dn || true
  db_endblock
fi
db_beginblock
if [ "$tmp_acl_check_module" = libldap ]; then
  db_input high nuauth20/ldap_users_base_dn || true
fi
if [ "$tmp_user_check_module" = libldap ]; then
  db_input high nuauth20/ldap_acls_base_dn || true
elif [ "$tmp_user_check_module" = libdbm ]; then
  db_input high nuauth20/dbm_users_file || true
fi
db_input high nuauth20/tls_key ||true
db_input low nuauth20/tls_key_passwd ||true
db_input high nuauth20/tls_cert ||true

db_go
