#!/bin/sh
CONFIGFILE1=/etc/default/nuauth
CONFIGFILE2=/etc/nufw/nuauth.conf
set -e
. /usr/share/debconf/confmodule
        # charge le fichier de configuration, s'il existe.
if [ -e $CONFIGFILE1 ]; then
  . $CONFIGFILE1 || true
   # Stocke les valeurs du fichier de configuration
   # dans la base de donnes de debconf

  db_set nuauth/start_at_boot $NUAUTH_START
  db_set nuauth/verbosity $NUAUTH_VERBOSITY
  db_set nuauth/user $NUAUTH_USER
fi

if [ -e $CONFIGFILE2 ]; then
  . $CONFIGFILE2 || true
  db_set nuauth/client_listen_addr $nuauth_client_listen_addr
  db_set nuauth/nufw_listen_addr $nuauth_nufw_listen_addr
  db_set nuauth/gw_packet_port $nuauth_gw_packet_port
  db_set nuauth/user_packet_port $nuauth_user_packet_port
  db_set nuauth/nufw_gw_address $nufw_gw_addr
  db_set nuauth/nufw_gw_port $nufw_gw_port
  db_set nuauth/prio $nuauth_prio
  db_set nuauth/packet_timeout $nuauth_packet_timeout
  db_set nuauth/number_usercheckers $nuauth_number_usercheckers
  db_set nuauth/number_aclcheckers $nuauth_number_aclcheckers
  db_set nuauth/user_check_module $nuauth_user_check_module
  db_set nuauth/acl_check_module $nuauth_acl_check_module
  db_set nuauth/log_users $nuauth_log_users
  db_set nuauth/user_logs_module $user_logs_module
  db_set nuauth/ldap_server_addr $ldap_server_addr
  db_set nuauth/ldap_server_port $ldap_server_port
  db_set nuauth/ldap_bind_dn $ldap_bind_dn
  db_set nuauth/ldap_bind_password $ldap_bind_password
  db_set nuauth/ldap_request_timeout $ldap_request_timeout
  db_set nuauth/ldap_basedn $ldap_basedn
  db_set nuauth/ldap_acls_base_dn $ldap_acls_base_dn
  db_set nuauth/ldap_users_base_dn $ldap_users_base_dn
  db_set nuauth/dbm_users_file $dbm_users_file
  db_set nuauth/prio_to_nok $nuauth_prio_to_nok
  db_set nuauth/mysql_server_addr $mysql_server_addr
  db_set nuauth/mysql_server_port $mysql_server_port
  db_set nuauth/mysql_db_name $mysql_db_name
  db_set nuauth/mysql_table_name $mysql_table_name
  db_set nuauth/mysql_user $mysql_user
  db_set nuauth/mysql_passwd $mysql_passwd
  db_set nuauth/mysql_request_timeout $mysql_request_timeout
  db_set nuauth/mysql_use_ssl $mysql_use_ssl
  db_set nuauth/mysql_ssl_keyfile $mysql_ssl_keyfile
  db_set nuauth/mysql_ssl_certfile $mysql_ssl_certfile
  db_set nuauth/mysql_ssl_ca $mysql_ssl_ca
  db_set nuauth/mysql_ssl_capath $mysql_ssl_capath
  db_set nuauth/mysql_ssl_cypher $mysql_ssl_cypher
  db_set nuauth/pgsql_server_addr $pgsql_server_addr
  db_set nuauth/pgsql_server_port $pgsql_server_port
  db_set nuauth/pgsql_db_name $pgsql_db_name
  db_set nuauth/pgsql_table_name $pgsql_table_name
  db_set nuauth/pgsql_user $pgsql_user
  db_set nuauth/pgsql_passwd $pgsql_passwd
  db_set nuauth/pgsql_request_timeout $pgsql_request_timeout
  db_set nuauth/pgsql_ssl $pgsql_ssl
fi

# Pose les questions.
db_input high nuauth/start_at_boot || true
db_input medium nuauth/verbosity || true
db_input high nuauth/user || true
db_input high nuauth/client_listen_addr || true
db_input high nuauth/nufw_listen_addr || true
db_input medium nuauth/gw_packet_port || true
db_input medium nuauth/user_packet_port || true
db_input high nuauth/nufw_gw_address || true
db_input medium nuauth/nufw_gw_port || true
db_input low nuauth/prio || true
db_input high nuauth/prio_to_nok || true
db_input low nuauth/packet_timeout || true
db_input low nuauth/number_usercheckers || true
db_input low nuauth/number_aclcheckers || true
db_input medium nuauth/log_users || true
db_go || true
db_get nuauth/log_users
tmp_log_users="$RET"
if [ $tmp_log_users -gt 0 ]; then
  db_input medium nuauth/user_logs_module || true
  db_go || true
  db_get nuauth/user_logs_module
  tmp_user_logs_module="$RET"
  if [ "$tmp_user_logs_module" = mysql ]; then
    db_input high nuauth/mysql_server_addr || true
    db_input low nuauth/mysql_server_port  || true
    db_input high nuauth/mysql_db_name || true
    db_input high nuauth/mysql_table_name || true
    db_input high nuauth/mysql_user || true
    db_input high nuauth/mysql_passwd || true
    db_input low  nuauth/mysql_request_timeout || true
    db_input medium  nuauth/mysql_use_ssl || true
    db_go || true
    db_get nuauth/mysql_use_ssl
    tmp_mysql_use_ssl="$RET"
    if [ "$tmp_mysql_use_ssl" = 1 ]; then
      db_input medium nuauth/mysql_ssl_keyfile || true
      db_input medium nuauth/mysql_ssl_certfile || true
      db_input medium nuauth/mysql_ssl_ca || true
      db_input medium nuauth/mysql_ssl_capath || true 
      db_input medium nuauth/mysql_ssl_cypher || true 
    fi


  elif [ "$tmp_user_logs_module" = pgsql ]; then
    db_input high nuauth/pgsql_server_addr || true
    db_input low nuauth/pgsql_server_port  || true
    db_input high nuauth/pgsql_db_name || true
    db_input high nuauth/pgsql_table_name || true
    db_input high nuauth/pgsql_user || true
    db_input high nuauth/pgsql_passwd || true
    db_input low  nuauth/pgsql_request_timeout || true
    db_input medium  nuauth/pgsql_ssl || true
  fi
fi
  
db_input medium nuauth/user_check_module || true
db_input low nuauth/acl_check_module || true
db_go || true
db_get nuauth/acl_check_module
tmp_acl_check_module="$RET"
db_get nuauth/user_check_module
tmp_user_check_module="$RET"
if [ "$tmp_user_check_module" = libldap ] || [ "$tmp_acl_check_module" = libldap ]; then
  db_input high nuauth/ldap_server_addr || true
  db_input high nuauth/ldap_server_port || true
  db_input high nuauth/ldap_bind_dn || true
  db_input high nuauth/ldap_bind_password || true
  db_input high nuauth/ldap_request_timeout || true
  db_input high nuauth/ldap_basedn || true
fi

if [ "$tmp_acl_check_module" = libldap ]; then
  db_input high nuauth/ldap_users_base_dn || true
fi
if [ "$tmp_user_check_module" = libldap ]; then
  db_input high nuauth/ldap_acls_base_dn || true
elif [ "$tmp_user_check_module" = libdbm ]; then
  db_input high nuauth/dbm_users_file || true
fi

db_go || true
