#!/bin/sh
CONFIGFILE1=/etc/default/nuauth
CONFIGFILE2=/etc/nufw/nuauth.conf
set -e
. /usr/share/debconf/confmodule
        # charge le fichier de configuration, s'il existe.
if [ -e $CONFIGFILE1 ]; then
  . $CONFIGFILE1 || true
   # Stocke les valeurs du fichier de configuration
   # dans la base de donnes de debconf

  db_set nuauth/start_at_boot $NUAUTH_START
  db_set nuauth/verbosity $NUAUTH_VERBOSITY
  db_set nuauth/user $NUAUTH_USER
fi

if [ -e $CONFIGFILE2 ]; then
  . $CONFIGFILE2 || true
  db_set nuauth/addr $nuauth_addr
  db_set nuauth/gw_packet_port $nuauth_gw_packet_port
  db_set nuauth/user_packet_port $nuauth_user_packet_port
  db_set nuauth/nufw_gw_address $nufw_gw_addr
  db_set nuauth/nufw_gw_port $nufw_gw_port
  db_set nuauth/prio $nuauth_prio
  db_set nuauth/packet_timeout $nuauth_packet_timeout
  db_set nuauth/number_usercheckers $nuauth_number_usercheckers
  db_set nuauth/number_aclcheckers $nuauth_number_aclcheckers
  db_set nuauth/user_check_module $nuauth_user_check_module
  db_set nuauth/acl_check_module $nuauth_acl_check_module
  db_set nuauth/log_users $nuauth_log_users
  db_set nuauth/users_logs_backend $users_logs_backend
  db_set nuauth/ldap_server_addr $ldap_server_addr
  db_set nuauth/ldap_server_port $ldap_server_port
  db_set nuauth/ldap_bind_dn $ldap_bind_dn
  db_set nuauth/ldap_bind_password $ldap_bind_password
  db_set nuauth/ldap_request_timeout $ldap_request_timeout
  db_set nuauth/ldap_basedn $ldap_basedn
  db_set nuauth/ldap_acls_base_dn $ldap_acls_base_dn
  db_set nuauth/ldap_users_base_dn $ldap_users_base_dn
  db_set nuauth/dbm_users_file $dbm_users_file
  db_set nuauth/prio_to_nok $nuauth_prio_to_nok
fi

# Pose les questions.
db_input high nuauth/start_at_boot || true
db_input medium nuauth/verbosity || true
db_input high nuauth/user || true
db_input high nuauth/addr || true
db_input medium nuauth/gw_packet_port || true
db_input medium nuauth/user_packet_port || true
db_input high nuauth/nufw_gw_address || true
db_input medium nuauth/nufw_gw_port || true
db_input low nuauth/prio || true
db_input high nuauth/prio_to_nok || true
db_input low nuauth/packet_timeout || true
db_input low nuauth/number_usercheckers || true
db_input low nuauth/number_aclcheckers || true
db_input medium nuauth/log_users || true
db_input medium nuauth/users_logs_backend || true
db_input medium nuauth/user_check_module || true
db_input high nuauth/ldap_server_addr || true
db_input high nuauth/ldap_server_port || true
db_input high nuauth/ldap_bind_dn || true
db_input high nuauth/ldap_bind_password || true
db_input high nuauth/ldap_request_timeout || true
db_input high nuauth/ldap_basedn || true
db_input high nuauth/ldap_users_base_dn || true
db_input low nuauth/acl_check_module || true
db_input high nuauth/ldap_acls_base_dn || true
db_input high nuauth/dbm_users_file || true
db_go || true
