#!/bin/sh

set -e

. /usr/share/debconf/confmodule

CONFIGFILE=/etc/default/nufw20

#Read configuration file if it exists
if [ -e $CONFIGFILE ]; then
  #Load configuration
  . $CONFIGFILE || true

  db_set nufw20/start_at_boot $NUFW_START
  db_set nufw20/verbosity $NUFW_VERBOSITY
#  db_set nufw/listen_port $NUFW_LISTEN_UDP_PORT
#  db_set nufw/listen_address $NUFW_LISTEN_ADDRESS
  db_set nufw20/nuauth_address $NUFW_NUAUTH_ADDRESS
  db_set nufw20/nuauth_port $NUFW_NUAUTH_UDP_PORT
  db_set nufw20/timeout $NUFW_TIMEOUT
  db_set nufw20/tracksize $NUFW_TRACK_SIZE
fi

#Ask questions
db_beginblock
db_input medium nufw20/start_at_boot || true
db_input medium nufw20/verbosity || true
#db_input medium nufw/listen_port || true
#db_input high nufw/listen_address || true
db_input high nufw20/nuauth_address || true
db_input medium nufw20/nuauth_port || true
db_input low nufw20/timeout || true
db_input low nufw20/tracksize || true
db_endblock
db_go
