#!/bin/sh

set -e

. /usr/share/debconf/confmodule

CONFIGFILE=/etc/default/nufw

#Read configuration file if it exists
if [ -e $CONFIGFILE ]; then
  #Load configuration
  . $CONFIGFILE || true

  db_set nufw-nfqueue/start_at_boot $NUFW_START
  db_set nufw-nfqueue/verbosity $NUFW_VERBOSITY
#  db_set nufw/listen_port $NUFW_LISTEN_UDP_PORT
#  db_set nufw/listen_address $NUFW_LISTEN_ADDRESS
  db_set nufw-nfqueue/nuauth_address $NUFW_NUAUTH_ADDRESS
  db_set nufw-nfqueue/nuauth_port $NUFW_NUAUTH_UDP_PORT
  db_set nufw-nfqueue/timeout $NUFW_TIMEOUT
  db_set nufw-nfqueue/tracksize $NUFW_TRACK_SIZE
fi

#Ask questions
db_beginblock
db_input medium nufw-nfqueue/start_at_boot || true
db_input medium nufw-nfqueue/verbosity || true
#db_input medium nufw/listen_port || true
#db_input high nufw/listen_address || true
db_input high nufw-nfqueue/nuauth_address || true
db_input medium nufw-nfqueue/nuauth_port || true
db_input low nufw-nfqueue/timeout || true
db_input low nufw-nfqueue/tracksize || true
db_endblock
db_go
