Source: nufw
Section: net
Priority: optional
Maintainer: Vincent Deffontaines <vincent@gryzor.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: nufw
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a per-user firewalling daemon that interfers with libipq.
 Nufw is the daemon that receives some network packets through the QUEUE rule.
 Informations about those packets are forwarded to the nuauth daemon, which
 decides if packets should be accepted or denied, sends back the information to
 Nufw that applies decisions.
 
